

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin-left: 5% ;
    margin-right: 5%;
    margin-top: 0px;
    display: flex;
    justify-content:center;
}

i {
    color: #0065FC;
} 

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #0065FC;
}

#container {
    max-width  : 1400px ;
    background-color: white;
}

h1, h2, h3, h4 {
    font-weight: 700;
}
h3 {
    font-size: 16px;
}
p {
    font-size: 14px;
}


/* -------------------------- header -----------------------*/ 

header {
    display: flex;
    align-items: center;

}
header img {
    width: 60px;
}


#primary-menu {
    margin-left: auto;
}

#primary-menu ul {
    margin: 0px;
    display: flex;
}

#primary-menu ul li {
    list-style-type: none ;
    width: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    text-decoration: none;
}

.bordure-menu {
    border-top: 2px solid #0065FC;
}
#primary-menu ul li:not(.bordure-menu) {
    border-top:  2px solid #ffffff;
}


/* -------------------------- main -----------------------*/ 

        /* -------------------------- main - Filtres et recherche -----------------------*/ 
#searchbar {
    display: flex;
    height: 50px;
}
input {
    text-align: center;
}

#icone-localisation {
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    color:black;
}
.bouton-rechercher {
    background-color: #0065FC;
    border-radius:  0px 15px 15px 0px ;
    color: white;

}
#texte-rechercher {
    width: 132px;
    border: 0px;
    font-weight: 700;
    font-size: 18px;
}

#icone-rechercher {
    display: none;
}

#case-rechercher {
    border: solid 1px #F2F2F2;
    font-weight: 700;
    font-size: 18px;
}
input::placeholder{
    color: black; /* marche pour chrome mais pas pour firefox */
    text-align: left;
    padding-left: 10px;
}

#container-filtres {
    display: flex;
    margin: 2%;
    align-items: center;
    gap: 3%;   
    font-weight: 700;
}
.filtres:hover{
    background-color:#DEEBFF ;
}
.filtres:hover {
    background-color:#DEEBFF ;
}

.filtres {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 30px;

}

.filtres i {
    padding-right: 10px;
    padding-left: 20px;
}

.filtres p {
    padding-right: 20px ;
}
.filtres.active {
    background-color: lightblue;
}

#nb-logements {
    display: flex;
    align-items:baseline;
    margin-bottom: 1% ;
}
#nb-logements i {
    color:#0065FC;
    text-align: center;
    border: 2px solid #F2F2F2;
    border-radius:50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 1%;

}

    /* -------------------------- main - Hébergement -----------------------*/ 

#partie-hebergement {
    display: flex;
    column-gap: 4%;
    margin-bottom: 4%;
}
        /* -------------------------- main - Listes -----------------------*/ 


#principal-hebergements {
    padding: 3%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#liste-hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;

}
#principal-hebergements h2 {
    font-size: 22px;
    margin-top: 0px;
}

#afficherplus {
    font-weight: 700;
    margin-top: 5% ;
    font-size: 18px;
    margin-bottom: 0px;
}
#liste-hebergements article {
    height: 100%;
}

#liste-hebergements a {
    height: 200px;
    width: 30%;
    background-color: white;
    padding: 0.5%;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}


#liste-hebergements article img {
    width: 100%;
    height: 60%;
    max-height: 120px;
    object-fit: cover;  
    border-radius: 10px 10px 0px 0px;
}

#liste-hebergements article .description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    height: 36%;
}

#liste-hebergements h3 {
    margin: 0px;

}
#liste-hebergements p {
    font-size: 14px;
    margin: 0px;
}

#liste-hebergements i:nth-child(5), #sidebar-hebergements i:nth-child(5){
    color:#F2F2F2;
}

        /* -------------------------- Sidebar - Listes -----------------------*/ 
aside {
    display: flex;
    flex-direction: column;
}
#sidebar-hebergements {
    border-radius: 10px;
    display: flex;
    padding: 3%;
    background-color: #F2F2F2;
    border-radius: 15px;
}

#sidebar-liste {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#sidebar-entete {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    align-items: baseline;
}
#sidebar-entete h2 {
    margin: 0px;
}

#sidebar-hebergements article {
    height: 100%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;

 }
 #sidebar-hebergements a {
    background-color: #ffffff;
    height: 144px;
    border-radius: 10px;
    padding: 5px;
 }


 #sidebar-hebergements img {
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    width: 40%;
}

#sidebar-hebergements .description-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:4% 5% 2% 2%;

}
#sidebar-hebergements .description-sidebar h3 {
    margin-top: 0px;
    margin-bottom: 5%;
}
#sidebar-hebergements .description-sidebar p {
    margin: 0px;
}


/* -------------------------- Activites -----------------------*/ 

#activites {
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-bottom:4%;
}

#activites a {
    width: 22%;

}

#activites figure {
    overflow: hidden;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0px;
    height : 456px;
}

#activites figure img {
    width : 100%;
    object-fit: cover;
    height: calc(100% - 56px);
    margin-bottom: 0px;
}
#activites figure figcaption {
    font-weight: 700;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    align-items: center;
    height: 56px;
    margin-top: 0px;
}

#activites figure figcaption#figcaption-break {
    display: none;
}

/* -------------------------- footer -----------------------*/ 
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-top: 2%;
    line-height: 200%;
    padding-left: 6%;
    padding-right: 18%;
}
footer nav {
    width: 28%;
}

footer nav ul {
    padding-left: 0px;
}

footer nav ul li {
    list-style-type: none ;
}

footer nav ul li:first-child {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 4%;
}
/* -------------------------- Intermédiaire -----------------------*/ 
@media screen and (min-width: 993px) and (max-width: 1240px) {
    
    #principal-hebergements h3 {
        font-size: 14px;
    }
    #principal-hebergements p {
        font-size: 12px
    }
    #activites figure {
        height: 400px;
    }

    #activites figure figcaption {
        font-size: 14px;
        height: 45px; 
    }
    #activites figure img {
        height: calc(100% - 45px);
    }
}

@media screen and (min-width: 993px) and (max-width: 1060px) {
    #activites figure figcaption {
        font-size: 13px;
    }
}

/* -------------------------- Tablette -----------------------*/ 
/* -------------------------- Tablette -----------------------*/ 
/* -------------------------- Tablette -----------------------*/ 
/* -------------------------- Tablette -----------------------*/ 

@media screen and (min-width: 768px) and (max-width: 992px) {

    #container {
        margin-top: 0px ;
        background-color: white;        
    }
    body {
        margin-top: 0px ;
    }
    #partie-superieure {
        margin-bottom: 20px;
    }


                /* Partie principale */
    #partie-hebergement {
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-bottom: 6%;
    }
    #principal-hebergements {
        width: auto;
        padding: 4% ;
    }
    #liste-hebergements article img {
        height:60% ;
    }
    #afficherplus {
        margin-bottom: 1%;
    }

                /* Sidebar */

    #sidebar-hebergements{
        padding: 4% ;
    }

    aside {
        margin-top: 3%;
    }
    #sidebar-hebergements {
        box-sizing: border-box;
        width: 100%;
    }

    #sidebar-liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 2%;
    }
    #sidebar-hebergements .description-sidebar {
        margin: 4%;
    }

    #sidebar-liste  a {
        display: flex;
        width: 30%;
        height: 120px;
    }
    #sidebar-liste h3 {
        font-size: 14px;
    }
    #sidebar-liste p {
        font-size: 11px;
    }
    #sidebar-liste i {
        font-size: 12px;
    }    
    #sidebar-liste img {
        width: 40%;
    }

                /* Activités */

    
    #activites figure {
    height : 267px;
    }


    #activites figure figcaption {
    font-size: 14px;
    }
    #activites figure figcaption#figcaption-break {
        display: flex;
    }
    #activites figure figcaption#figcaption-comp {
        display: none;
    }
                /* Footer */

    footer {
        display: flex;
        justify-content: space-between;
        background-color: #F2F2F2;
        padding-top: 2%;
        line-height: 170%;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 16px;
        margin-top: 6%;
    }
    footer nav {
        width: 33%;
    }

    footer nav ul li {
        list-style-type: none ;
    }
    footer nav ul li:first-child {
        font-weight: 700;
        margin-bottom: 5%;
        font-size: 18px;
    }
}
        /* -------------------------- Point intermédiaire -----------------------*/ 
@media screen and (min-width: 768px) and (max-width: 900px) {
    #liste-hebergements a {
        height:160px;
    }

    #liste-hebergements h3 {
        font-size: 14px;
        margin: 0px;
    }

    #liste-hebergements p {
        font-size: 12px ;
        margin-bottom: 0px;
    }
}

/* -------------------------- Mobile -----------------------*/ 
/* -------------------------- Mobile -----------------------*/ 
/* -------------------------- Mobile -----------------------*/ 
/* -------------------------- Mobile -----------------------*/ 


@media screen and (max-width: 767px) {

                        /* Header */
    body {
        margin: 0px;
    }


    header {
        flex-direction: column;
        margin-top: 20px;
    }

    nav {
        width: 100%;
        margin:0px;
        box-sizing: border-box;
    }
    nav ul {
        padding: 0px;
    }
    #primary-menu ul li {
        width: 50%;
        height: 60px;
    }
    #primary-menu ul li:not(.bordure-menu) {
        border-bottom:  2px solid #F2F2F2;
        border-top:none;
    }
    
    .bordure-menu {
        border-top:none;
        border-bottom: 2px solid #0065FC;
    }
    .bordure-menu a {
        color: #0065FC;
    }


                    /* Partie supérieure */
    h1 {
        font-size: 22px;
        margin-top: 13px;
        margin-bottom: 13px;
    }

    #partie-superieure {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4%;
        box-sizing: border-box;
    }
    #partie-superieure>div {
        width: 100%;

    }


    #searchbar {
        margin: 0px;
        height: 50px;
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #case-rechercher {
        flex-grow: 1;
    }

    #texte-rechercher {
        display: none; 
    }
    #icone-rechercher {
        display: flex;
        width: 50px; 
        align-items: center;
        justify-content: center;
    }

    #container-filtres {
        display: flex;
        margin: 2%;
        flex-wrap: wrap;
        font-weight: 700;
    }

    #texte-filtres {
    width: 100%;
    }

    .filtres {
        width: 47%;
        margin-bottom: 10px;
    }

    .filtres i {
        padding-left: 10px;
    }
    .filtres p {
        padding-right: 10px ;
        font-size: 11px;

    }
                /* Partie principale */
    #partie-hebergement {
        display: flex;
        flex-direction: column;
         margin-bottom: 6%;                
    }
                    /* Partie principale - bloc de 6*/
    #principal-hebergements {
        width: 100%;
        box-sizing: border-box;
        order: 2;
        border-radius: 0px;
        background-color: white;
        padding-left: 4%;
        padding-right: 4%;
    }
    #liste-hebergements a {
        width: 100%;
        max-width: none;
        object-fit: cover;  
        border-radius: 10px;
        }


                    /* Partie principale - bloc de 3*/
    #sidebar-hebergements {
        width: 100%;
        box-sizing: border-box;
        order: 1;
        border-radius: 0px;
        padding-top: 20px;
        padding-left: 4%;
        padding-right: 4%;
    }
    #sidebar-liste {
        row-gap: 10px;
    }
    #afficherplus {
        display: none;
    }

                /* Activités */
    #partie-activites {
        margin: 4%;
    }
    #activites {
        flex-direction: column;
        row-gap: 20px;
    }
    #activites a {
        width: 100%;
    }
    #activites figure {
        height: 190px;
    }

    #activites figure img{
        width: 100%;
    }
    #activites figure figcaption#figcaption-break {
        display: none;
    }
    #activites figure figcaption#figcaption-comp {
        display: flex;
    } 
                /* Footer */
    footer {
        flex-direction: column;
        padding: 4%;
    }
    footer nav {
        width: 100%;
    }
    footer nav ul li:first-child {
        margin-bottom: 3%;
    }


}

        /* -------------------------- Point intermédiaire -----------------------*/ 
        @media screen and (min-width: 400px) and (max-width: 767px) {
        #liste-hebergements a {
            height: 300px;
        }
        #activites figure {
            height: 300px;
        }



}


