

* {
    font-family: 'Raleway', sans-serif;
}

body {
    max-width  : 1400px;
    margin-top: 0px ;
    margin-left: auto ;
    margin-right: auto;
    background-color: white;
}

i {
    color: #0065FC;
} 

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #0065FC;
}

#container {
}

h1, h2, h3, h4 {
    font-weight: 700;
}
h3 {
    font-size: 16px;
}
p {
    font-size: 14px;
}


/* -------------------------- header -----------------------*/ 

header {
    display: flex;
    align-items: center;

}
header img {
    width: 60px;
    height: auto;
    align-items: center;
}


#primary-menu {
    margin-left: auto;
}
#primary-menu ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#primary-menu ul li {
    list-style-type: none ;
    display : block;
    width: 120px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: none;    
}

.bordure-menu {
    border-top: 2px solid #0065FC;
}


#partie-hebergement {
    display: flex;
    column-gap: 40px;
    margin: auto;
}
/* -------------------------- main -----------------------*/ 

.container-fond-gris {
    background-color: #F2F2F2;
    border-radius: 15px;
}
        /* -------------------------- main - Filtres et recherche -----------------------*/ 
#searchbar {
    display: flex;
    vertical-align: middle;
    height: 50px;
}
input {
    padding: 0px;
    text-align: center;
}

#searchbar i {
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
    background-color: #F2F2F2;
    color:black;
}
.bouton-rechercher {
    background-color: #0065FC;
    border-radius:  0px 15px 15px 0px ;
    color: white;
    width: 132px;
    border: 0px;
    font-weight: 700;
    font-size: 18px;
}
.case-rechercher {
    border: rgba(128, 128, 128, 0.192) solid 2px;
    font-weight: 700;
    font-size: 18px;
}
input::placeholder{
    color: black; /* marche pour chrome mais pas pour firefox */

}

#container-filtres {
    display: flex;
    margin: 2%;
    align-items: center;
    gap: 3%;   
    font-weight: 700;
}
.filtres:active {
    background-color:#DEEBFF ;
}

.filtres {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border: 2px solid #030303;
    border-radius: 30px;
}
.filtres i {
    padding-right: 10px;
    padding-left: 10px;
}
.filtres p {
    padding-right: 20px ;
}
.filtres.active {
    background-color: lightblue;
}

#nb-logements {
    display: flex;
    align-items:baseline;
}
#nb-logements i {
    color:#0065FC;
    text-align: center;
}

#cercle {
    border: 2px solid #F2F2F2;
    border-radius:50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 1%;

}

        /* -------------------------- main - Listes -----------------------*/ 
#principal-hebergements {
    height: 33%;
    width: 60%;
    padding-left: 3%;
    padding-right: 3%;
}

#liste-hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
principal-hebergements h2 {
    font-size: 22px;
}

#afficherplus {
    display: block;
    font-weight: 700;
    margin-top: 4% ;
    margin-bottom: 4%;
    font-size: 18px;
}

#liste-hebergements article {
    height: 200px;
    width: 250px;
    overflow: hidden;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
#liste-hebergements article img {
    width: 100%;
    height: 60%;
    object-fit: cover;  
    border-radius: 10px 10px 0px 0px;
}

#liste-hebergements article .description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#liste-hebergements h3 {
    font-size: 16px;
    margin-top: auto;
    margin-bottom: 9px;
}
#liste-hebergements p {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 9px;
}

#liste-hebergements i:nth-child(5), #sidebar-hebergements i:nth-child(5){
    color:#F2F2F2;
}

        /* -------------------------- Sidebar - Listes -----------------------*/ 
aside {
    display: flex;
    flex-direction: column;
}
#sidebar-hebergements {
    width: 420px;
    height: 625px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 41px 40px 34px 37px;
    box-sizing: border-box;
}

#sidebar-entete {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    align-items: baseline;
}
#sidebar-entete h2 {
    margin: 0px;
}

#sidebar-hebergements article {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    width: 343px;
    height: 144px;
    display: flex;
    padding: 5px;
 }

 #sidebar-hebergements img {
    width: 137px;
    height: 144px;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    margin-right: 5%;
}

#sidebar-hebergements .description-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:15px;
    margin-top: 16px;
    margin-bottom: 12px;

}
#sidebar-hebergements .description-sidebar h3 {
    margin-top: 0px;
    margin-bottom: 7px;
}
#sidebar-hebergements .description-sidebar p {
    margin: 0px;
}


/* -------------------------- Activites -----------------------*/ 

#activites {
    display: flex;
    background-color: white;
    justify-content: space-between;
    margin-bottom:30px;
}
#activites figure {
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0px;
}

#activites figure img {
    width : 300px;
    height : 400px;
    max-width: 100%;
    object-fit: cover;
}
#activites figure figcaption {
    padding: 20px;
    font-weight: 700;
}


/* -------------------------- footer -----------------------*/ 
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-left: auto;
    margin-right: auto;
}
footer nav {
    width: 25%;
}

footer nav ul li {
    list-style-type: none ;
}
footer nav ul li:first-child {
    font-weight: 700;
}
